body {
  background-color: var(--cui-tertiary-bg);
}
.bg-primary{
  background-color: #2f3640!important;
}
.fontHeader{
  font-size: 22px;
}
.form-control{
  border-color: #6b7689!important;
}
.coin { 
  border-radius: 100px;  
  animation: coin-rotate 15s both infinite;
}
.card{
  border-top-left-radius: 0;
}
@media only screen and (max-width: 800px) {
  .table{
  overflow-x: auto;
  display: block;
}
}
@media only screen and (max-width: 600px) {
  .table{
  overflow-x: auto;
  display: block;
}
}
.sidebar-brand {
  text-decoration: none!important;
}

.btn-primary {
  --cui-btn-bg: #4a90e2!important;
  --cui-btn-background:#4a90e2!important;
}
@keyframes coin-rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}
.sidebar-header{
  padding: 3px;
}
.sidebar-nav .nav-title{
  border-bottom: 1px solid gray;
}
.bg-before{
  background: #eef3f9;
    color: #023b6d;
    padding: 49px;
    border-radius: 4px;
    opacity: .9;
    font-family: Poppins, sans-serif;
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
